Sample Slider
<br>
Low <input type="range" min="0" max="100" value="50" step="5" onchange="showValue(this.value)"/> High
<span id="range">50</span>
<script type="text/javascript">
    function showValue(newValue){
        document.getElementById("range").innerHTML=newValue;
    }
</script>
<br>
<br>

